{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Son Goku</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo odio mollitia nobis, recusandae ipsum quisquam officiis vero libero quasi nihil quod. Similique, ipsum ab quas aperiam at voluptates sunt corrupti?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/goku.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}